* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;
    background: url("../../assets/images/modernbackgroundnarrow.png") no-repeat 50% 50% fixed;
    background-size: cover;
}

.container h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0 1em 0;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.score-text {
    font-size: 30px;
}

.score-text, .wins-losses {
    color: #2e5880;
}

.instructions {
    color: #7d838f;
    margin: 1em;
}

.gem-container {
    margin: 1em 0 1em 0;
}
.gem-image {
    width: 50px;
    margin: .5em;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.gem-image:hover {
    cursor: pointer;
    animation: bounce 1s;
    /* opacity: .5;
    transition: .3s ease; */
}

.wins-losses {
    font-size: 24px;
    margin: 1em;
}

@media only screen and (min-width: 600px) {
    .container h1 {
        font-size: 50px;
        font-weight: normal;
    }

    .container {
        max-width: 800px;
    }
    .gem-image {
        width: 80px;
        margin: 1em;
    }
}

@media only screen and (min-width: 780px) {
    body {
        background: url("../../assets/images/modernbackgroundwide.png") no-repeat 50% 50% fixed;
        background-size: cover;    
    }
    .total-score {
        float: left;
    }

    .wins-losses {
        float: right;
        margin-top: 0;
    }

}